@model Movie

<h1>
    Title: @Model.Title 
</h1>

<h2>
    Genre: @Model.Genre
</h2>

<h3>
    Year: @Model.Year
</h3>

<h4>
    Actors:@Model.Actors
</h4>

<h5>
    Directors:@Model.Directors
</h5>

